@font-face {
    font-family: "Aquire";
    src: url('./fonts/aquire-font/Aquire-BW0ox.otf') format("opentype");
    src: url('./fonts/aquire-font/AquireBold-8Ma60.otf') format('opentype');
    src: url('./fonts/aquire-font/AquireLight-YzE0o.otf') format('opentype'); 
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: "Aquire";
}

body {
    display: flex;
    flex-direction: row;
}

.image-bar {
    height: 100vh;
    background-image: url('james-dimas-QOWeRRZ7SDs-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title-box {
    background-color: hsla(0, 0%, 16%, 0.3);
    display: flex;
    align-items: center;
    margin-top: 20vh;
}

.left-heading {
    font-size: 5rem;
    margin-left: 5rem;
}

.shell-image {
    width: 20vh;
    margin-top: .7rem;
    margin-bottom: .7rem;
}