@font-face {
    font-family: "Aquire";
    src: url('./fonts/aquire-font/Aquire-BW0ox.otf') format("opentype");
    src: url('./fonts/aquire-font/AquireBold-8Ma60.otf') format('opentype');

}

@font-face {
    font-family: "Shackle";
    src: url('./fonts/shackle-font/ShackleRegular-p7EYr.otf') format('opentype'); 
    src: url('./fonts/shackle-font/ShackleItalic-x31m5.otf') format ('opentype'); 
    src: url('./fonts/shackle-font/ShackleRegular-ALvV7.ttf');
    src: url('./fonts/shackle-font/ShackleItalic-DOml1.ttf');   
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Aquire";
}

h1 {
    color: white;
}

h2 {
    font-size: 2rem;
    color: #014b54;
    -webkit-text-fill-color: #c4ada5; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #014b54;
  }

h2, p {
    margin-left: 3vw;
}

body {
    display: flex;
    flex-direction: row;
}

.image-bar {
    height: 100vh;
    background-image: url('james-dimas-QOWeRRZ7SDs-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 40vw;
    min-width: 355px;
}

.title-box {
    background-color: hsla(0, 0%, 16%, 0.3);
    display: flex;
    align-items: center;
    margin-top: 20vh;
    justify-content: space-evenly;
}

.left-heading {
    font-size: 4rem;
    margin-left: 4rem;
}

.shell-image {
    width: 15vh;
    margin-top: .7rem;
    margin-bottom: .7rem;
}


p, .right {
    font-family: "Shackle";
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #014b54;
    color: #c4ada5;
    text-align: center;
    font-family: "Aquire";
}

.intro {
    margin-top: 8rem;
}

.intro > p, form {
    color:#014b54;
}

.intro > p {
margin-top: 1rem;
font-size: 1.5rem;
}

p > span {
    font-style: italic;
    font-weight: 700;
}

.input-area {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    background-color: #f9f9f9;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: .5vh;
}

form > div > div {
    margin-top: 1vh;
}

input,
textarea,
select {
	width: 21vw;
    height: 3vh;
}

input {
    border: 2px solid #014b54;
    border-radius: 5px;
    min-width: 160px;
}

.required-field-reminder, .sign-in {
    margin:1vh;
    margin-left: 3vw;
 
    color:#014b54;
}

.sign-in {
    margin-top: 5vh;
}

a {
    text-decoration: none;
    color:#014b54;
    background: #c4ada5;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #014b54;
    font-family: "Aquire";
}

button {
    margin-top: 2rem;
    margin-right: 3vw;
    margin-left: 3vw;
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-family: "Aquire";
    color: #c4ada5;
    background-color: #014b54;
    border-radius: 15px;
    border: 2px solid #c4ada5;
}

.error {
    border: 2px solid red;
}

